.container {
    width: 100%;
    padding: 0px 0em;
    margin: 0px;
    height: 100%;
}

@mixin make-container($minWidth, $breakpoint){
    @media (min-width: $minWidth) {
        .container {
            max-width: $breakpoint;
            margin: auto;
        }
    }
}

$screen-xs: 100%;
$screen-xs-min: 480px;

// Small screen / tablet
$screen-sm: 100%;
$screen-sm-min: 576px;

// Medium screen / desktop
$screen-md: 100%;
$screen-md-min: 768px;

// Large screen / wide desktop
$screen-lg: 100%;
$screen-lg-min: 992px;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;


@include make-container($screen-xs-min, $screen-xs);
@include make-container($screen-sm-min, $screen-sm);
@include make-container($screen-md-min, $screen-md);
@include make-container($screen-lg-min, $screen-lg);
@include make-container($screen-xl-min, $screen-xl);
@include make-container($screen-xxl-min, $screen-xxl); // Optional
