* {
    margin: 0px;
    padding: 0px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #222;
    box-sizing: border-box;
    // font-size: 14px;
}

html, body {
    // min-height: 
}

@mixin dynamic-container($minWidth, $padding){
    @media (min-width: $minWidth) {
        .content {
            padding: $padding;
        }

        .header-container {
            padding-left: $padding;
            padding-right: $padding;
        }

        .section.section.full-height:first-child, .section.section.full-height:last-child {
            min-height: calc(100vh - #{$padding});
        }
    }
}

@mixin dynamic-landing($minWidth, $height){
    @media (min-width: $minWidth) {
        .landing-section {
            height: $height;
        }
    }
}

@import './container', './global.scss', './projects.scss', './header.scss';

.root{
    height: 100%;
}

.content {
    padding: 28px;
}

.section {
    width: 100%;
    text-align: left;
    background: #fff;
}

.section > div {
    vertical-align: unset;
}

.section.center > div {
    vertical-align: middle;
}

.section.dark-fade{
    background: rgba(0, 0, 0, .3);
    color: #fff;
}

.section.dark-fade > div > * {
    color: #fff;
}

.section.full-height {
    min-height: 100vh;
}

.section.center {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.padded{
    padding: 40px 0px;
}

.title {
    color: inherit;
    text-align: center;
}


.subtitle {
    text-align: center;
    color: inherit;
    font-weight: normal;
}

.landing-section {
    height: calc(100vh - 56px);
}

.landing {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $primary-color;
    background: #281a12 url("/static/bg.jpg");
    background-size: cover;
    background-position: center;
    font-size: 12px;
    // border-radius: 16px;
    padding: 20px;
    height: 100%;
    // min-height: 300px;
}

@include dynamic-container($screen-md-min, 28px);
@include dynamic-container($screen-lg-min, 32px);
@include dynamic-container($screen-xl-min, 40px);


@include dynamic-landing($screen-md-min, calc(100vh - 56px));
@include dynamic-landing($screen-lg-min, 300px);